baseURL = 'https://That1LinuxGuy.github.io/MelodeeDesigns'
relativeURLs = true
canonifyURLs = true
languageCode = 'en-us'
title = 'MelodeeDesigns'
theme = 'tella'

[menu]

  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    name = "Costumes"
    url = "/#gallery"
    weight = 2

  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 3

  [[menu.main]]
    name = "Contact"
    url = "/contact/"
    weight = 4
